/* css for components */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 5rem;
  background-color: #000;
  color: #fff;
}

.links a {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

/* main content css */
.backbox {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 60vh;
  align-items: center;
}

.infobox {
  width: 60vw;
  height: 20rem;
  padding: 20px;
}